<footer id="footer" class="footer">
  <div class="container footer-content">
    <div class="general-info">
      <div>
        <a href="index.html" class="logo">
          <span class="white-logo-text">english</span
          ><span class="green-logo-text">excellence</span
          ><span class="white-logo-text">.</span>
        </a>

        <address class="contact-info">
          <p>Phone number:</p>
          <a id="Phone" class="link" href="tel:+380 (68) 443-94-26"
            >+380 (68) 443-94-26</a
          >
          <p>Address:</p>
          <a
            id="Address"
            class="link"
            href="https://g.co/kgs/pnn17NQ"
            target="_blank"
            >32a M. Bazhana ave</a
          >
        </address>
      </div>
      <nav>
        <ul class="nav-links-footer">
          <li><a class="nav-link-footer" href="#about">About us</a></li>
          <li><a class="nav-link-footer" href="#lessons">Our lessons</a></li>
          <li><a class="nav-link-footer" href="#teachers">Teachers</a></li>
          <li><a class="nav-link-footer" href="#reviews">Reviews</a></li>
          <li><a class="nav-link-footer" href="#contact">Contact us</a></li>
        </ul>
      </nav>
      <div class="header-social-icons-footer">
        <a
          href="https://www.facebook.com/goit.polska/"
          target="_blank"
          target="_blank"
          ><svg class="header-icon-footer">
            <use href="public/icons.svg#icon-facebook"></use></svg
        ></a>
        <a href="https://www.instagram.com/goitclub/" target="_blank"
          ><svg class="header-icon-footer">
            <use href="public/icons.svg#icon-instagram"></use></svg
        ></a>
        <a
          href="https://www.youtube.com/channel/UCEdkY9jDg2aHpq6Ms1kW4kQ"
          target="_blank"
          ><svg class="header-icon-footer">
            <use href="public/icons.svg#icon-youtube"></use></svg
        ></a>
      </div>
    </div>
    <hr />
    <div class="footer-text">
      <p>©2023 English Excellence. All rights reserved.</p>
      <div class="privacy-policy">
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
