<header class="header">
  <div class="container">
    <nav class="navbar">
      <a href="index.html" class="logo">
        <span class="black-logo-text">english</span><span class="green-logo-text">excellence</span><span class="black-logo-text">.</span>
      </a>
      <ul class="nav-links">
        <li><a class="nav-link" href="#about">About us</a></li>
        <li><a class="nav-link" href="#lessons">Our lessons</a></li>
        <li><a class="nav-link" href="#teachers">Teachers</a></li>
        <li><a class="nav-link" href="#reviews">Reviews</a></li>
        <li><a class="nav-link" href="#footer">Contact us</a></li>
      </ul>
        <div class="header-social-icons">
          <a href="https://www.facebook.com/profile.php?id=100064023163538" target="_blank"><svg class="header-icon"><use href="public/icons.svg#icon-facebook"></use></svg></a>
          <a href="https://www.instagram.com/goitclub/" target="_blank"><svg class="header-icon"><use href="public/icons.svg#icon-instagram"></use></svg></a>
          <a href="https://www.youtube.com/channel/UCEdkY9jDg2aHpq6Ms1kW4kQ" target="_blank"><svg class="header-icon"><use href="public/icons.svg#icon-youtube"></use></svg></a>
        </div>
    </nav>
  </div>
</header>
