<section id="leave-application" class="application-section">
  <div class="container">
    <div class="application-heading-container">
      <h2 class="about-header">
        Leave an <span class="application-marker">application</span>
      </h2>
      <p class="application-heading-description">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>
    <div class="application-form-container">
      <div class="application-image-container">
        <img
          class="application-image"
          src="./img/girl-learning-with-laptop@2x.jpg"
          alt=""
        />
        <div class="image-container-description">
          <p class="application-image-main-paragraph application-header">
            1000
          </p>
          <p class="application-description">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
      <form class="application-form">
        <input
          class="formular-border"
          type="text"
          name="name"
          placeholder="Name"
          required
        />
        <input
          class="formular-border"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          class="formular-border"
          type="tel"
          name="phone"
          placeholder="Phone"
          required
        />
        <textarea
          class="formular-border"
          name="comment"
          placeholder="Comment"
        ></textarea>
        <p class="choose-teacher">Choose a teacher</p>
        <div class="teacher-options">
          <label
            ><input type="radio" name="teacher" value="Maria" required />
            Maria</label
          >
          <label
            ><input type="radio" name="teacher" value="Artem" /> Artem</label
          >
          <label
            ><input type="radio" name="teacher" value="Ilona" /> Ilona</label
          >
          <label
            ><input type="radio" name="teacher" value="Volodymyr" />
            Volodymyr</label
          >
        </div>
        <button type="submit" class="btn">Send</button>
        <p class="send-info">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
