<section id="reviews" class="section reviews-section">
    <div class="container">
        <div class="about-card-container">
            <h2 class="review-header">What our
                <span class="review-marker">students</span> say</h3>

                <p class="rewiev-header-paragraph">Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact </p>
        </div>
        <div class="rewiev-list-container">

            <div class="rewiev-item-container">
                <div class="rewiev-people-container ">

                    <img class="review-img" src="./img/serious-woman-with-blond-hair.jpg">
                    <div class="text-people">
                        <h4>Anna</h4>
                        <p>Student</p>
                    </div>
                </div>
                <p class="rewiev-paragraph">My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills.</p>
            </div>


            <div class="rewiev-item-container">
                <div class="rewiev-people-container">

                    <img class="review-img" src="./img/serious-man-with-hand-on-beard.jpg">
                    <div class="text-people">
                        <h4>Mykhailo</h4>
                        <p>Student</p>
                    </div>
                </div>
                <p class="rewiev-paragraph">The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas.</p>
            </div>
            <div class="rewiev-item-container">
                <div class="rewiev-people-container">

                    <img class="review-img" src="./img/woman-with-bubble-gum.jpg">
                    <div class="text-people">
                        <h4>Victoria</h4>
                        <p>Student</p>
                    </div>
                </div>

                <p class="rewiev-paragraph">I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills.</p>
            </div>
        </div>
    </div>
</section>
