.about-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.about-header {
    font-family: var(--primary-font-family);
    font-weight: var(--bold-font-weight);
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

.about-marker {
    position: relative;
}

.about-marker::after {
    content: "";
    position: absolute;
    display: block;
    top: 29px;
    right: -2px;
    width: 41px;
    height: 12px;
    border-radius: 8px;
    background-color: #BEE8CC;
    z-index: -1;
}

.about-paragraph {
    font-family: var(--primary-font-family);
    font-weight: var(--regular-font-weight);
    font-size: 14px;
    line-height: 1.714;
    text-align: center;
    color: #12141780;
}

.about-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    gap: 20px;
}

.about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-list-item {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: var(--gray-color);
    border-radius: 16px;
}

.about-list-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.about-list-header {
    font-family: var(--primary-font-family);
    font-weight: var(--bold-font-weight);
    font-size: 28px;
    line-height: 1.142;
    letter-spacing: -0.02em;
    color: var(--green-color);
}

.about-list-paragraph {
    font-family: var(--primary-font-family);
    font-weight: var(--bold-font-weight);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

.about-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 313px;
    border-radius: 16px;
    background-color: var(--green-color);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .about-card-container {
        padding: 0 23px;
    }

    .about-heder {
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }

    .about-marker::after {
        top: 30px;
        right: -8px;
        width: 48px;
        height: 16px;
    }

    .about-paragraph {
        font-size: 18px;
        line-height: 1.666;
        letter-spacing: 0.03em;
    }

    .about-list-container {
        margin-top: 64px;
        gap: 32px;
    }
  
    .about-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        gap: 32px;
    }

    .about-list-item {
        width: 336px;
        border-radius: 30px;
    }

    .about-picture {
        height: 243px;
        border-radius: 30px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .about-card-container {
        margin: 0 96px;
        padding: 0 87px;
    }
  }
  
  /* Styles for Desktop devices */
  @media only screen and (min-width: 1280px) {
    .about-card-container {
        margin: 0 96px;
        padding: 0 87px;
        }


    .about-marker::after {
        top: 28px;
        right: -8px;
        width: 50px;
        height: 18px;
    }

    .about-paragraph {
        letter-spacing: 0.08em;
    }

    .about-list-container {
        flex-direction: row;
        margin-top: 64px;
        padding: 0 64px;
        gap: 0;
    }

    .about-list {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .about-list-item {
        width: 325px;
        border-radius: 30px;
    }

    .about-picture {
        max-width: 310px;
        height: 353px;
        border-radius: 30px;
    }

