.application-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white-color);
}

.content-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.application-header {
    font-size: var(--desktop-tablet-section-font-size);
    line-height: var(--desktop-tablet-main-heading-line-height);
    font-weight: var(--bold-font-weight);
    color: var(--black-color);
}

.application-marker {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.application-marker::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.4em;
    background-color: #BEE8CC;
    z-index: -1;
    border-radius: 8px;
}

.description {
    font-size: var(--desktop-tablet-button-font-size);
    width: 709px;
    color: #12141780;
    line-height: 1.667;
    margin-top: 16px;
    padding-bottom: 64px;
}

.form-container {
    display: flex;
    background-color: var(--white-color);
    overflow: hidden;
    flex-direction: row;
}

.image-container2 {
    width: 492px;
    height: 578px;
}

.image-container2 img {
    z-index: 2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.overlay2 {
    background-color: var(--dark-green-color);
    margin-top: -20em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

.lesson-info {
    text-align: center;
    z-index: 1;
}

.lesson-info h2 {
    font-size: var(--desktop-tablet-section-font-size);
    color: #FFFFFFB2;
    font-weight: var(--bold-font-weight);
    margin-bottom: 8px;
    padding-top: 7.7em;
}

.lesson-info p {
    font-size: var(--desktop-tablet-card-paragraph-font-size);
    line-height: 1.5;
    color: #FFFFFFB2;
}

.application-form {
    margin-left: 32px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.application-form input,
.application-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--gray-color);
    border-radius: var(--button-border-radius);
    font-size: var(--mobile-font-size);
    margin-bottom: 18px;
}

.application-form textarea {
    height: 100px;
    resize: none;
}

.formular-border {
    width: 100%;
    height: 56px;
    border: 1px solid var(--gray-color);
    border-radius: 12px; 
    outline: none;
    }

.formular-border:focus {
    border-color: var(--dark-green-color);
    outline: none; 
    }

.teacher-options {
    margin-bottom: 32px;
    font-size: var(--paragraph-title-font-size);
    font-weight: var(--semi-bold-font-weight);
}

.teacher-options label {
    margin: 16px;
}

.choose-teacher{
    font-size: var(--paragraph-title-font-size);
    font-weight: var(--semi-bold-font-weight);
    line-height: 1.2;
    color: var(--black-color);
    margin-bottom: 16px;
}

